attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
coloredlogs==15.0.1
ddddocr==1.0.6
flatbuffers==24.3.25
h11==0.14.0
humanfriendly==10.0
idna==3.7
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.17.3
outcome==1.3.0.post0
packaging==24.0
Pillow==9.5.0
protobuf==5.26.1
pycparser==2.22
pyreadline3==3.4.1
PySocks==1.7.1
selenium==4.20.0
sniffio==1.3.1
sortedcontainers==2.4.0
sympy==1.12
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==2.2.1
wsproto==1.2.0
